
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(to right, rgb(39, 70, 133) 0%, rgb(61, 179, 197) 100%);
	font-family: 'Open Sans', sans-serif;
}

nav {
    
    padding: 5px 10px;
    background-color: black;
    transition: all 0.5s;
    z-index: 997;
    position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
 
  }


.contenedor {
	width: 90%;
	margin: auto;
}


ul {
    list-style-type: none;
}
  
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;
}
.logo a:hover {
    text-decoration: none;
}
.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
.logo a,
.toggle a {
    font-size: 20px;
    
  }
  

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle {
    
    order: 1;
  }
.item.button {
    order: 2;
  }
.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }

  .item a:hover{
    color: rgb(61, 179, 197);
 } 

 
.active {
    display: block;
  }


 @media all and (min-width: 600px) {
.menu {
      justify-content: center;
    }
.logo {
      flex: 1;
    }
.toggle {
      flex: 1;
      text-align: right;
    }
    
.toggle {
      order: 2;
    }
   
  }
  

@media all and (min-width: 900px) {
.item {
      display: block;
      width: auto;
    }
.toggle {
      display: none;
    }
.logo {
      order: 0;
    }
.item {
      order: 1;
    }
    
.menu li {
      padding: 15px 10px;
    }
.nav{
        background-color: #fff;
    }
    
  }


  
header {
  display: block;
}

#boton-inicio {
  background-color: rgb(61, 179, 197);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

#boton-inicio:hover {
  background-color: rgb(39, 70, 133);
  color: #fff;
}

#boton-logo {
  background-color: rgb(61, 179, 197);
  padding: 5px;
  border-radius: 5px;

}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  color: white;
  background:black;
  text-align: center;
  padding-top: 5px;
}


/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}



/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-novedades {
	margin-bottom: 70px;
    width: 90%;
    
}


.peliculas-novedades .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
    
}

.peliculas-novedades .contenedor-principal .flecha-izquierda,
.peliculas-novedades .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 30%;
	top: calc(60% - 25%);
	line-height: 40px;
	width: 30px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
	
}

.peliculas-novedades .contenedor-principal .flecha-izquierda:hover,
.peliculas-novedades .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-novedades .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-novedades .contenedor-principal .flecha-derecha {
	right: 0;
}


.peliculas-novedades .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
    
}


/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}



	.peliculas-novedades .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-novedades .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-novedades .flecha-izquierda,
	.peliculas-novedades .flecha-derecha {
		display: none;
	}
}



  section{
    position: relative;  
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  



  